# ansible configuration file

[defaults]
inventory = ./test-hosts
remote_user = ubuntu
private_key_file = ~/.ssh/test.pem
# Don't check the fingerprint property when SSH'ing for the first time
host_key_checking = False

[ssh_connection]
ssh_args = -o ControlMaster=no